{% load vite %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Django sandbox</title>
    {% vite %}
    {% vite "app/js/main.mts" %}
    {% vite "app/styles/bootstrap.scss" %}
</head>

<body>
    <div class="container py-4 px-3 mx-auto">
        <h1>Django sandbox</h1>
        <p>
            My Django sandbox. I use it to test things.
        </p>
        <p>
            <a href="https://github.com/jtremesay/django-sandbox/">Source code</a>
        </p>

        <h2>Functionalities</h2>
        <ul>
            <li>Automated CI/CD with Github Actions, Docker Swarm & Portainer (I'm lazy, ok?)</li>
            <li>ASGI through <a href="https://github.com/django/daphne">daphne</a></li>
            <li>Statics served by <a href="https://whitenoise.readthedocs.io/en/latest/">whitenoise</a></li>
            <li>Front bundled with <a href="https://vitejs.dev/">vite</a> and integrated with <a href="https://github.com/protibimbok/django-vite-plugin">django-vite-plugin</a> </li>
            <li><a href="https://www.typescriptlang.org/">TypeScript</a></li>
            <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
            <li id="d3-entry"></li>
            <li>Home-made <a href="{% url 'analytics:index'%}">analytics</a> (TODO: need to verify GDPR compliance)</li>
        </ul>
    </div>
</body>

</html>